<div class="Body" style="min-height: 473px;">
  <div class="Wrapp">
    <div style="width: auto;">
      <section style="display: block;">
        <div class="main">
          <div class="header">
            <div>
              <p class="headerTe">ITESO, UNIVERSIDAD JESUITA DE GUADALAJARA</p>
            </div>
            <div class="mcontenido">
              <div id="Contenido">
                <div style=" clear: right;">
                  <div class="Five">
                    <h3 style="font-size: 40px;color: black;font-family:'museo_slab500';margin: 0 0 25px;">Resumen de Guía de Inscripción</h3>
                    <div class="Six"></div>
                    <img  class="imagen" src="../../assets/images/Postal%20P2018.jpg">
                    <hr style="border-style: dotted;border-color: #aaa;border: solid #ddd;border-width: 1px 0 0;clear: both;margin: 1.25em 0 1.1875em;height: 0;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer style="margin-top: 748px;">
        <div class="Foo">
          <div>
            <div class="FoIma" style="margin-left: 479px;">
              <img  style="width: 884.13px;" src="../../assets/images/19.png">
            </div>
            <!--<div class="RowC">-->
              <!---->
              <!--&lt;!&ndash;<div class="FColum">&ndash;&gt;-->
                <!--&lt;!&ndash;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div class="FColap">&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="AColap">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<a href="http://www.iteso.mx/vida-academica" style="line-height: 100px;height: 100px;color: #FFF;display: block;font-family: 'museo_slab500';&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;font-size: 14px;padding: 0 15px; background: url(../../assets/images/blue-sitemap-border.gif) no-repeat right center;">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<span>Vida Académica</span>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;<div class="AColap">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<a href="http://www.iteso.mx/vida-academica" style="line-height: 100px;height: 100px;color: #FFF;display: block;font-family: 'museo_slab500';&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;font-size: 14px;padding: 0 15px; background: url(../../assets/images/blue-sitemap-border.gif) no-repeat right center;">&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<span>Vida Académica</span>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                  <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

