<div id="wrapper" >
  <div class="row"></div>
  <div class="page bodyclass">
    <section id="top-section">
      <div class="row">
        <div class="col-xs-12 columns">
          <div class="mobile-header visible-sm ShadowEffect">
            <a href="#" class="toggle-sidemenu"><span class="Ray"></span></a>
            <div class="logo60"> <a href="http://www.iteso.mx"><div class="overLogo"></div></a></div>
            <div class="iteso-tab-mobile itm-none">
              <ul class="list-inline list-unstyled listTop">
                <li><a href="#"><img src="../../assets/images/close-icon-st.png"></a></li>
                <li><a href="#"><img src="../../assets/images/switch-icon-st.png"></a></li>
                <li><a href="#"><img src="../../assets/images/notificaciones_blanco24.png"></a></li>
                <li><a href="#"><img src="../../assets/images/user-icon-w.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="content" class="row bg-white ">
      <div class="onecolumnrio" id="main-content" role="main">
        <div class="portlet-layout row">
          <div class="aui-w100 portlet-column portlet-column-only Container100 Responsive100">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only Card ShadowEffect" id="layout-column_column-1">
              <div class="portlet-boundary portlet-boundary_jquery102015_WAR_core102015portlet_  portlet-static portlet-static-start portlet-borderless jquery-10-2015-portlet" id="p_p_id_jquery102015_WAR_core102015portlet_INSTANCE_CORE_">
              <div class="ui-fluid">
                <img src="../../assets/images/Servicios%20Mi%20ITESO.jpg">
                <span class="header-Text-text Fs50" style="margin-top: 79px;">Servicios</span>
              </div>
              <div class="EmptyBox10"></div>
              <div class="ContainerIndent">
                <label class="uilabel ui-widget active">Filtros de búsqueda</label>
                <div class="ui-autocomplete-multiple Wid100 eleven">
                  <ul class="ui-autocomplete-multiple-container ui-widget ui-inputfield ui-state-default ui-corner-all"></ul>
                </div>
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-right BlueTextButton ms-no-text" >
                  <img width="50px" src="../../assets/images/lupa.jpg" class="ui-button-icon-right ui-icon ui-c fa fa-search Fs20 Whites">
                  <span class="ui-button-text ui-c">&nbsp;</span>
                </button>
              </div>
                <div class="Separator"></div>
                <div class="ContainerIndent" style="padding: 0px">
                  <ul class="listNone">
                    <li class="ui-datalist-item liclass">
                      <a href="/profile">
                        <table class="table_class" >
                          <tbody>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p1.png">
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt17" class="label1 ui-widget labelT">Mi perfil</label>
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p6.png">
                            </td>
                          </tr>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt20" class=" Gray">Consulta la información de tu perfil.</label>
                            </td><td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                          </tr>
                          </tbody>
                        </table>
                      </a>
                      <div class="Separator" style="border-bottom-width: 5px;"></div>
                    </li>
                    <li class="ui-datalist-item liclass">
                      <a href="/user">
                        <table  class="table_class">
                          <tbody>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p2.png">
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt17" class="label1 ui-widget labelT">Mi ITESO</label>
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p6.png">
                            </td>
                          </tr>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt20" class=" Gray">Escritorio de servicios</label>
                            </td><td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                          </tr>
                          </tbody>
                        </table>
                      </a>
                      <div class="Separator" style="border-bottom-width: 5px;"></div>
                    </li>
                    <li class="ui-datalist-item liclass">
                      <a href="/actualizar">
                        <table  class="table_class" >
                          <tbody>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p3.png">
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt17" class="label1 ui-widget labelT">Actualización de datos</label>
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p6.png">
                            </td>
                          </tr>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt20" class=" Gray">Consulta la información de tu perfil.</label>
                            </td><td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                          </tr>
                          </tbody>
                        </table>
                      </a>
                      <div class="Separator" style="border-bottom-width: 5px;"></div>
                    </li>
                    <li class="ui-datalist-item liclass">
                      <a href="/history">
                        <table  class="table_class" >
                          <tbody>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p4.png">
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt17" class="label1 ui-widget labelT">Historia académica</label>
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p6.png">
                            </td>
                          </tr>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt20" class=" Gray"></label>
                            </td><td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                          </tr>
                          </tbody>
                        </table>
                      </a>
                      <div class="Separator" style="border-bottom-width: 5px;"></div>
                    </li>
                    <li class="ui-datalist-item liclass">
                      <a href="/re-ins">
                        <table  class="table_class" >
                          <tbody>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p5.png">
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt17" class="label1 ui-widget labelT">Proceso de Reinscripción</label>
                            </td>
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter">
                              <img src="../../assets/images/p6.png">
                            </td>
                          </tr>
                          <tr class="ui-widget-content" role="row">
                            <td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                            <td role="gridcell" class="ui-panelgrid-cell BordNone TexAlJustify">
                              <label id="A5160:form-ms:j_idt13:0:j_idt20" class=" Gray"></label>
                            </td><td role="gridcell" class="ui-panelgrid-cell Wid50px BordNone TexAlCenter"></td>
                          </tr>
                          </tbody>
                        </table>
                      </a>
                    </li>
                  </ul>
                  <div class="Separator"></div>
                </div>
                <div class="EmptyBox20"></div>
                <div class="Separator"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
