<div class="PAGE1">
  <div class="WRA">
    <div class="row">
  <div class="col-xs-12 columns">
    <div class="mobile-header visible-sm ShadowEffect">
      <a class="toggle-sidemenu">
        <span class="Ray"></span>
      </a>
      <div class="logo60">
        <a>
          <div class="overLogo"></div>
        </a>
      </div>
    </div>
    <div class="iteso-tab-mobile rsuser">
      <ul class="list-inline list-unstyled listTop">
        <li>
          <a href="user.component.html">
            <img src="../../assets/images/close-icon-st.png">
          </a>
        </li>
        <li>
          <a href="user.component.html"><img src="../../assets/images/switch-icon-st.png"></a>
        </li>
        <li>
          <a><img src="../../assets/images/notificaciones_blanco24.png"></a>
        </li>
        <li>
          <a><img src="../../assets/images/user-icon-w.png"></a>
        </li>
        <li>
          <a><img src="../../assets/images/20.png"></a>
        </li>
        <li>
          <a><img src="../../assets/images/21.png"></a>
        </li>
      </ul>
    </div>
  </div>
  </div>
    <div style="margin-top: 49px; min-width: 769px;">
      <div class="New">
        <div class="Back">
          <div style="width: 50%;float: left;padding: 5px;background-color:#dad7d7; height: 941px;">
            <div style="width: 93%;height: 50%;margin-top: 10px; background-color: #fff;padding: 15px; padding-right: 7%; margin-bottom: 28px;">
              <header style="position: relative;">
                <span class="portlet-title BigTopic"> Fechas importantes </span>
              </header>
              <div class="menu">
                <table class="TableMen">
                  <tbody>
                  <tr>
                    <td class="TdTable">
                      <div class="TabD">
                        <img src="../../assets/images/P.png">
                        <img src="../../assets/images/V.png">
                        <img src="../../assets/images/O2.png">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="TdTable">
                      <div class="DivSe">
                        <select class="Sel"></select>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="Tab2">
                      <div class="Div3">
                        <table class="Table3">
                          <thead style="font-size: 14px; text-align: center">
                          <tr style="text-align: center;">
                            <th class="thHead" style="text-align: center;">
                              <span >Actividad</span>
                            </th>
                            <th class="thHead" style="text-align: center;">
                              <span class="ui-column-title">Fecha(s)</span>
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr style="background-color: #fff;">
                            <td class="TDSec"><div style="width:90%">Inicio de Clases</div></td>
                            <td class="TDSec"><div style="width:90%">14 de Agosto</div></td>
                          </tr>
                          <tr style="background-color: #eef2f7;">
                            <td class="TDSec"><div style="width:90%">Fin de clases</div></td>
                            <td class="TDSec"><div style="width:90%">4 diciembre</div></td>
                          </tr>
                          <tr style="background-color: #fff;">
                            <td class="TDSec"><div style="width:90%">Verano internacional</div></td>
                            <td class="TDSec"><div style="width:90%">No aplica</div></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div style="width: 93%;height: 40%;background-color: #fff;padding: 15px; padding-right: 7%">
              <header style="position: relative;">
                <span class="portlet-title BigTopic">Estacionamiento Controlado</span>
              </header>
              <div>
                <div>
                  <img src="../../assets/images/i.png" style="margin-left: 356px;">
                </div>
                <div>
                  <img style="width: 93%;" src="../../assets/images/i2.png">
                </div>
              </div>
            </div>
          </div>
          <div style="width: 50%;float: left;padding: 5px;background-color:#dad7d7;height: 941px;">
            <div style="width: 93%;height:21%;background-color: #fff;padding: 15px; padding-right: 7%; margin-bottom: 26px;margin-top: 10px;">
              <header style="position: relative;">
                <span class="portlet-title BigTopic">Moodle</span>
              </header>
              <div style="padding: 12px 10px 10px;">
                <fieldset class="HeadM">
                  <legend class="HeadM2"><img src="../../assets/images/78.png">Nombre del Curso</legend>
                </fieldset>
              </div>
            </div>
            <div style="width: 93%;height: 60%;background-color:#fff;padding: 15px;padding-right: 7%">
              <header style="position: relative;">
                <span class="portlet-title BigTopic">Finanzas</span>
              </header>
              <div style="padding: 12px 10px 10px;">
                <div>
                  <h3 class="Titulo3">
                    Mensualidades Corto Plazo
                  </h3>
                  <div class="Bor" style="border: solid 1px #e0e0e0;">
                    <div class="DivBor">
                      <table style="border-collapse: collapse;font-size: 14px; width: 100%" class="table table">
                        <thead>
                        <tr>
                          <th class="thHT">
                            <span>Fecha Limite de Pago</span>
                          </th>
                          <th class="thHT">
                            <span>Importe</span>
                          </th>
                          <th class="thHT">
                            <span>Moneda</span>
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="Textd">18/08/2017</td>
                          <td class="Textd">$4.808,01</td>
                          <td class="Textd">Peso</td>
                        </tr>
                        <tr>
                          <td class="Textd">06/09/2017</td>
                          <td class="Textd">$4.018,16</td>
                          <td class="Textd">Peso</td>
                        </tr>
                        <tr>
                          <td class="Textd">04/10/2017</td>
                          <td class="Textd">$4.158,17</td>
                          <td class="Textd">Peso</td>
                        </tr>
                        <tr>
                          <td class="Textd">01/11/2017</td>
                          <td class="Textd">$4.018,16</td>
                          <td class="Textd">Peso</td>
                        </tr>
                        <tr>
                          <td class="Textd">01/12/2017</td>
                          <td class="Textd">$4.018,17</td>
                          <td class="Textd">Peso</td>
                        </tr>
                        <tr>
                          <td class="Textd">06/12/2017</td>
                          <td class="Textd">$1.109,66</td>
                          <td class="Textd">Peso</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top: 10px">
                    <span style="font-size: small">Consulta aquí los lugares en donde puedes realizar tus pagos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Back2">
          <div style="width: 50%;float: left;padding: 5px;background-color:#dad7d7;height: 941px;">
            <div style="width: 93%;height: 50%;background-color:#fff;padding: 15px; padding-right: 7%">
              <header style="position: relative;">
                <span class="portlet-title BigTopic">Horarios de Alumnos</span>
              </header>
              <div class="menu">
                <img style="width: 108%;" src="../../assets/images/cal.png">
              </div>
            </div>
            <div style="width: 93%;height: 50%;background-color: #dad7d7;;padding: 15px;padding-right: 7%"></div>
          </div>
          <div style="width: 50%;float: left;padding: 5px;background-color:#dad7d7;height: 941px;">
            <div style="width: 93%;height: 90%;background-color:#fff;padding: 15px;padding-right: 7%">
              <header style="position: relative;">
                <span class="portlet-title BigTopic">Calificaciones</span>
              </header>
              <div style="padding: 12px 10px 10px;">
                <a  style="color: #337ab7;" target="_blank" href="https://servicios.iteso.mx/apps/alumno/historia_academica/index.jsp" id="aui_3_4_0_1_800">Más información</a>
                <div class="DivF">
                  <h3 class="Titulo3">Créditos y Promedios</h3>
                  <div class="TexTx">
                    <div class="Div45">
                      <div style="margin: 10px;">
                        <table style="border-collapse: collapse;font-size: 14px;width: 100%;table-layout: fixed;border: 1px solid #CCC;text-align: left;">
                          <thead style="font-size: 15px;">
                          <tr>
                            <th class="Thhead1"><span class="ui-column-title">Código Plan</span></th>
                            <th class="Thhead1"><span class="ui-column-title">Créditos aprobados</span></th>
                            <th class="Thhead1"><span class="ui-column-title">Créditos Inscritos</span></th>
                          </tr>

                          </thead>
                          <tbody style="text-align: center">
                          <tr>
                            <td class="BorderTd">IES2017</td>
                            <td class="BorderTd">178</td>
                            <td class="BorderTd">0</td>
                          </tr>
                          <tr style="background-color: #edf3f0;">
                            <td class="BorderTd">IES2017</td>
                            <td class="BorderTd">178</td>
                            <td class="BorderTd">0</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <div style="margin: 10px;">
                        <table style="border-collapse: collapse;font-size: 14px;width: 100%;table-layout: fixed;border: 1px solid #CCC;text-align: left;">
                          <thead style="font-size: 15px;">
                          <tr>
                            <th class="Thhead1"><span class="ui-column-title">Código Plan</span></th>
                            <th class="Thhead1"><span class="ui-column-title">Créditos por cursar</span></th>
                            <th class="Thhead1"><span class="ui-column-title">Créditos requeridos</span></th>
                          </tr>

                          </thead>
                          <tbody style="text-align: center">
                          <tr>
                            <td class="BorderTd">IES2017</td>
                            <td class="BorderTd">244</td>
                            <td class="BorderTd">422</td>
                          </tr>
                          <tr style="background-color: #edf3f0;">
                            <td class="BorderTd">IES2017</td>
                            <td class="BorderTd">292</td>
                            <td class="BorderTd">428</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <div style="margin: 10px;">
                        <table style="border-collapse: collapse;font-size: 14px;width: 100%;table-layout: fixed;border: 1px solid #CCC;text-align: left;">
                          <thead style="font-size: 15px;">
                          <tr>
                            <th class="Thhead1"><span class="ui-column-title">Código Plan</span></th>
                            <th class="Thhead1"><span class="ui-column-title">Promedio calificación plan</span></th>
                            <th class="Thhead1"><span class="ui-column-title">Porcentaje de avance</span></th>
                          </tr>

                          </thead>
                          <tbody style="text-align: center">
                          <tr>
                            <td class="BorderTd">IES2017</td>
                            <td class="BorderTd">7.87</td>
                            <td class="BorderTd">42.18 %</td>
                          </tr>
                          <tr style="background-color: #edf3f0;">
                            <td class="BorderTd">IES2017</td>
                            <td class="BorderTd">7.72</td>
                            <td class="BorderTd">31.78%</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <h3 class="Titulo3">Detalle</h3>
                </div>
              </div>
            </div>
            <div style="width: 93%;height: 1%;background-color:#fff;padding: 15px; padding-right: 7%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
