<div class="Bodymain">
<div id="wrapper"  class="wrap">
  <div class="row"></div>
  <div class="col-xs-12 columns bodyclass">
    <section id="top-section">
      <div class="row">
        <div class="col-xs-12 columns">
          <div class="mobile-header visible-sm ShadowEffect">
            <a href="#" class="toggle-sidemenu"><span class="Ray"></span></a>
            <div class="logo60"> <a href="http://www.iteso.mx"><div class="overLogo"></div></a></div>
            <div class="iteso-tab-mobile itm-none">
              <ul class="list-inline list-unstyled listTop">
                <li><a href="#"><img src="../../assets/images/close-icon-st.png"></a></li>
                <li><a href="#"><img src="../../assets/images/switch-icon-st.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="firstContent">
      <div class="seContent">
        <div class="Cont1">
          <div class="Cont2">
            <header class="headerP">
              <span>
                <span>Información alumno</span>
              </span>
            </header>
            <div class="Content3">
              <div class="Content4">
                <div>
                  <div class="Content5">
                    <div class="Content6">
                      <table role="grid" class="TableSec">
                        <tbody>
                        <tr class="trClass">
                          <td  role="gridcell" class="tdClass">
                            <div style="height: 200px">
                              <div style="margin-left: 19px">
                                <div class="ImageP">
                                  <img class="img1" src="../../assets/images/PerBlobSrvlt.jpg">
                                </div>
                              </div>
                            </div>
                            <div class="Empty"></div>
                            <div class="Name1" style="width: 240px;">POCOVI LONA</div>
                            <div class="Name1" style="width: 240px;">LUIS GERARDO</div>
                          </td>
                          <td  role="gridcell" class="tdClass2">
                            <div class="divTd">
                              <img src="../../assets/images/p7.png">
                            </div>
                            <div class="TableC">
                              <label class="Label11">704428</label>
                              <br>
                              <label class="ColorL">Expediente</label>
                            </div>
                            <div class="Separator"></div>
                            <div class="divTd">
                              <img src="../../assets/images/p8.png">
                            </div>
                            <div class="TableC">
                              <label class="Label11">179</label>
                              <br>
                              <label class="ColorL">Dígito verificador</label>
                            </div>
                            <div class="Separator"></div>
                            <div class="divTd">
                              <img src="../../assets/images/p9.png">
                            </div>
                            <div class="TableC">
                              <label class="Label11">es704428@iteso.mx </label>
                              <br>
                              <label class="ColorL">Correo electrónico</label>
                            </div>
                            <div class="Separator"></div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer" role="contentinfo">
  <div class="row cr">
    <div class="col-xs-12 columns" style="text-align: center;">
      <a href="https://datospersonales.iteso.mx/" target="_blank">Aviso de privacidad Términos y Condiciones</a>
    </div>
  </div>
</footer>
</div>
